version: "3.8"

services:
  libretranslate:
    build: .
    container_name: libretranslate
    ports:
      - "5000:5000"
    environment:
      PORT: 5000
      LT_HOST: 0.0.0.0
      LT_PORT: 5000
      LT_LOAD_ONLY: "en,kn,hi"
    restart: unless-stopped
